<nav class="header__menu">
    <ul>
        <li class="<%=  currentUrl === '/' || currentUrl === '/landingpage' ? 'active' : ''  %>" ><a href="/">Home</a></li>
        <li  class="<%=   currentUrl === '/product' ? 'active' : ''  %>"><a href="/product">Products</a></li>
        <li class="<%=   currentUrl === '/about' ? 'active' : ''  %>"><a href="/about">About Us</a></li>
       
        
        <li class="<%=   currentUrl === '/contact' ? 'active' : ''  %>"><a href="/contact">Contact</a></li>
    </ul>
</nav>