<section class="banner set-bg" data-setbg="../../../images/brands.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-8 m-auto">
                <div class="banner__slider owl-carousel">
                    
                </div>
            </div>
        </div>
    </div>
</section>