<section class="discount">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="../../../images/banner-4.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="discount__pic">
                    <img src="../../../images/banner-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>