<div class="trend__content">
    <div class="section-title">
        <h4>POPULAR</h4>
    </div>
    <div class="trend__item">
        <div class="trend__item__pic">
            <img src="../../../images/pr-sm-1.png" alt="">
        </div>
        <div class="trend__item__text">
            <h6>Chain bucket bag</h6>
           
            <div class="product__price">$ 59.0</div>
        </div>
    </div>
    <div class="trend__item">
        <div class="trend__item__pic">
            <img src="../../../images/pr-sm-2.png" alt="">
        </div>
        <div class="trend__item__text">
            <h6>Pendant earrings</h6>
           
            <div class="product__price">$ 59.0</div>
        </div>
    </div>
    <div class="trend__item">
        <div class="trend__item__pic">
            <img src="../../../images/pr-sm-3.png" alt="">
        </div>
        <div class="trend__item__text">
            <h6>Cotton T-Shirt</h6>
           
            <div class="product__price">$ 59.0</div>
        </div>
    </div>
</div>