<div class="trend__content">
    <div class="section-title">
        <h4>TOP RATED</h4>
    </div>
    <div class="trend__item">
        <div class="trend__item__pic">
            <img src="../../../images/pr-sm-3.png" alt="">
        </div>
        <div class="trend__item__text">
            <h6>TOP RATED</h6>
           
            <div class="product__price">$ 59.0</div>
        </div>
    </div>
    <div class="trend__item">
        <div class="trend__item__pic">
            <img src="../../../images/pr-sm-2.png" alt="">
        </div>
        <div class="trend__item__text">
            <h6>Zip-pockets pebbled tote <br />briefcase</h6>
            
            <div class="product__price">$ 59.0</div>
        </div>
    </div>
    <div class="trend__item">
        <div class="trend__item__pic">
            <img src="../../../images/pr-sm-1.png" alt="">
        </div>
        <div class="trend__item__text">
            <h6>Round leather bag</h6>
            
            <div class="product__price">$ 59.0</div>
        </div>
    </div>
</div>