<div class="container-fluid">
  <div class="row">

    <div class="row clearfix col-md-10">
      <div class="col-sm-12 col-md-12 col-lg-12">

        <h5>Delivery Address</h5>
        

      </div>

      <div class="table-responsive col-md-12">
        <table class="table table-hover c_table">
          <thead>
            <h5>Product Detail</h5>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Product name</th>
              <th scope="col">Status</th>
              <th scope="col">quantity</th>
              <th scope="col">Price</th>
            </tr>
          </thead>

          <tr>


            <td><img style="width: 50px;" src="" alt=""></td>

            <td></td>

            <td></td>
            <td></td>
            <td></td>

          </tr>

        </table>

      </div>

      <div class="card">
        <div class="card-body">
          <h5> The total sum of order is <span style="color: red;">&#8377 </span></h5>

        </div>
      </div>



    </div>
  </div>





</div>