<%- include('../../partials/header') %>
<style>
  @media only screen and (max-width: 820px) {
    .login-grid {
      margin: 0 auto;
      background-color: #000;
    }
    .login-grid > div:first-child {
      display: none;
    }
    .link-color {
      color: white;
    }
  }
  @media only screen and (min-width: 821px) {
    .login-grid > div:last-child {
      background-color: white;
    }
    .login-grid > div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 0;
    }
    .login-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ddd;
      width: 73%;
      margin: 40px auto auto;
    }
    .link-color {
      color: black;
    }
  }

  body {
    background-color: black;
  }

  .login-grid img {
    width: 40%;
  }
  .loginWrap {
    padding: 30px;
  }
</style>
<div class="login-grid">
  <div><img src="/images/otp-login.png" /></div>
  <div class="loginWrap">
    <h5 style="font-weight: 500" class="mb-5 link-color">
      Please provide your phone number to login to your account.
    </h5>
    <% if (message) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>
    <form action="/generateOtp" method="post" id="otp-form">
      <div class="form-group">
        <input
          type="number"
          class="form-control form-control-lg"
          id="phonenumber"
          name="phonenumber"
          placeholder="Enter your phone number"
        />
        <span
          class="text-danger"
          style="font-size: 12px; margin-left: 10px"
          id="phonenumber"
        ></span>
      </div>

      <div class="w-100 text-right">
        <button
          type="submit"
          class="btn btn-dark btn-block btn-lg btn-login mt-3"
        >
          Send OTP
        </button>
      </div>
      <br />
    </form>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var otpValues = [];
  function setMobileNumber() {
    const mobileNumber = document.getElementById("phonenumber").value;
    document.getElementById("phonenumber-input").value = mobileNumber;

    const otp =
      document.getElementById("otp1").value +
      document.getElementById("otp2").value +
      document.getElementById("otp3").value +
      document.getElementById("otp4").value +
      document.getElementById("otp5").value +
      document.getElementById("otp6").value;
    console.log(otp);
    document.getElementById("otpId").value = otp;
  }
  $(document).ready(function () {
    // initialize empty array to store OTP values
    $('input[type="text"]').on("input keydown", function (e) {
      var $this = $(this);
      if (e.keyCode == 8 && !$this.val()) {
        $this.prev('input[type="text"]').focus(); // move cursor to previous input field if backspace is pressed and field is empty
        otpValues.pop(); // remove last value from array if backspace is pressed and field is empty
      } else if ($this.val()) {
        $this.next('input[type="text"]').focus(); // move cursor to next input field
        otpValues.push($this.val()); // store entered value in array
      }
    });
  });
  function abc() {
    otpValues = otpValues.join("");
    document.getElementById("otpId").value = otpValues;
  }
</script>
