<%- include('../../partials/header') %>
<style>
  @media only screen and (max-width: 820px) {
    .login-grid {
      margin: 0 auto;
      background-color: #000;
    }
    .login-grid > div:first-child {
      display: none;
    }
    .link-color {
      color: white;
    }
  }
  @media only screen and (min-width: 821px) {
    .login-grid > div:last-child {
      background-color: white;
    }
    .login-grid > div:first-child {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 50px 0;
    }
    .login-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      background-color: #ddd;
      width: 73%;
      margin: 40px auto auto;
    }
    .link-color {
      color: black;
    }
  }

  body {
    background-color: black;
  }

  .login-grid img {
    width: 30%;
  }
  .loginWrap {
    padding: 30px;
  }
</style>
<div class="login-grid">
  <div><img src="/images/otp-login.png" /></div>
  <div class="loginWrap">
    <h3>OTP varification</h3>
    <% var msg1 = msg1 || ''; %> <% if (msg1) { %>
    <span class="text-white"><%= msg1 %> </span>
    <% } %>
    <form action="/verifyOtp" method="post" id="otp-form">
      <!-- <div class="form-group">
      <label for="phonenumber">Enter your number </label>
      <input type="number  " class="form-control" id="phonenumber" name="phonenumber" >
      <span class="text-danger " style="font-size: 12px; margin-left: 10px;" id="phonenumber"></span>
    </div>

    <button type="submit" id="register"class="btn btn-dark">SEND OTP</button> -->

      <label class="mb-4" for="otp">Enter 6-digit OTP:</label>

      <input type="hidden" name="phone" id="phone" value="<%= phonenumber %>" />
      <input type="text" name="otp" id="otpId" hidden />
      <div class="d-flex flex-row">
        <input
          type="text"
          class="m-1 text-center form-control rounded form-control-lg"
          maxlength="1"
          id="otp1"
          name="otp1"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded form-control-lg"
          maxlength="1"
          id="otp2"
          name="otp2"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded form-control-lg"
          maxlength="1"
          id="otp3"
          name="otp3"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded form-control-lg"
          maxlength="1"
          id="otp4"
          name="otp4"
        />
        <input
          type="text"
          class="m-1 text-center form-control rounded form-control-lg"
          maxlength="1"
          id="otp5"
          name="otp5"
        />
        <input
          type="text"
          onblur="abc()"
          class="m-1 text-center form-control rounded form-control-lg"
          maxlength="1"
          id="otp6"
          name="otp6"
        />
      </div>
      <% var msg2 = msg2 || ''; %> <% if (msg2) { %>
      <span class="text-warning"><%= msg2 %> </span>
      <% } %>

      <div class="w-100 text-right">
        <button
          type="submit"
          onmouseenter="setMobileNumber()"
          class="btn btn-login btn-lg btn-block btn-dark mt-5"
        >
          CONFIRM
        </button>
      </div>
      <br />
    </form>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  var otpValues = [];

  function setMobileNumber() {
    const mobileNumber = document.getElementById("phonenumber").value;

    document.getElementById("phonenumber-input").value = mobileNumber;

    const otp =
      document.getElementById("otp1").value +
      document.getElementById("otp2").value +
      document.getElementById("otp3").value +
      document.getElementById("otp4").value +
      document.getElementById("otp5").value +
      document.getElementById("otp6").value;
    console.log(otp);
    document.getElementById("otpId").value = otp;
  }

  $(document).ready(function () {
    // initialize empty array to store OTP values
    $('input[type="text"]').on("input keydown", function (e) {
      var $this = $(this);
      if (e.keyCode == 8 && !$this.val()) {
        $this.prev('input[type="text"]').focus(); // move cursor to previous input field if backspace is pressed and field is empty
        otpValues.pop(); // remove last value from array if backspace is pressed and field is empty
      } else if ($this.val()) {
        $this.next('input[type="text"]').focus(); // move cursor to next input field
        otpValues.push($this.val()); // store entered value in array
      }
    });
  });
  function abc() {
    otpValues = otpValues.join("");
    document.getElementById("otpId").value = otpValues;
  }
</script>
